$mobile: 375px;
$desktop: 1440px;
$tomato: hsl(4, 100%, 67%); 
$DSGrey: hsl(234, 29%, 20%);
$CGrey: hsl(235, 18%, 26%);
$grey: hsl(231, 7%, 60%);
$white: hsl(0, 0%, 100%);
$fsize: 16px;
$bradius: 20px;
$ffamily1: Roboto-Bold;
$ffamily2: Roboto-Regular;