@import 'nstyle_variables';
@import 'nstyle_mixins';

@font-face {
    font-family: $ffamily1;
    src: url("./assets/fonts/Roboto-Bold.ttf");
}
@font-face {
    font-family: $ffamily2;
    src: url("./assets/fonts/Roboto-Regular.ttf");
}

body {
    background-color: $DSGrey;
    height: 600px;
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_div {
    @include bradius($bradius);
    background-color: $white;
    height: 90%;
    width: 60%;
}

.sub_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

div.div_1 {
    font-family: $ffamily1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    div {
        margin-top: 20px;
        margin-left: 50px;
        width: 80%;
    }
    div.c1 {
        font-size: 62px;
    }
    div.c2, div.c3 {
        font-family: $ffamily2; 
    }
    #ivemail {
        display: none;
    }
}
.div_2 {
    align-self: center;
    img {
        margin: 20px;
        height: 440px;
    }
}

ul {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
    li {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

label {
    font-size: small;
    font-weight: bolder;
}

input {
    padding: 13px;
    border-radius: 10px;
    border: 0.2px groove rgba(128, 128, 128, 0.571);
}



button {
    padding: 12px;
    background-color: $DSGrey;
    color: white;
    font-family: $ffamily1;
    width: 355px;
    border-radius: 10px;
    transition: width 1s, background-color 1s;
}
button#bton:hover {
    cursor: pointer;
    width: 367px;
    background-color: $CGrey2;
}

button#bdis {
    width: 100px;
}
button#bdis:hover {
    cursor: pointer;
}


div.popup {
    font-family: $ffamily1;
    z-index: 10;
    position: fixed;
    top: 10%;
    left: 34%;
    width: 400px;
    height: 360px;
    display: none;
    flex-direction: column;
    justify-content: left;
    background-color: $CGrey3;
    border: 8px groove black;
    border-radius: 15px;
    div {
        margin: 15px;
    }
}

div.c1 {
    font-size: 20px;
}
div.c2, div.c3 {
    font-family: $ffamily2; 
}

.blur {
    filter: blur(5px);
  }
  