$mobile: 375px;
$desktop: 1440px;
$tomato: hsl(4, 100%, 67%); 
$DSGrey: hsl(234, 29%, 20%);
$CGrey1: hsl(235, 18%, 26%);
$CGrey2: hsl(235, 68%, 48%);
$CGrey3: hsla(200, 68%, 48%, 0.959);
$grey: hsl(231, 7%, 60%);
$white: hsl(0, 0%, 100%);
$fsize: 16px;
$bradius: 20px;
$ffamily1: Roboto-Bold;
$ffamily2: Roboto-Regular;